<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaNyG9JRKLeqcMFFnvuy81BqapOP8g4PQ</string>
	<key>GCM_SENDER_ID</key>
	<string>363922397594</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newPostFirebase</string>
	<key>PROJECT_ID</key>
	<string>post-cc482</string>
	<key>STORAGE_BUCKET</key>
	<string>post-cc482.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363922397594:ios:ea40e8d0acd9946e3e8223</string>
	<key>DATABASE_URL</key>
	<string>https://post-cc482-default-rtdb.firebaseio.com</string>
</dict>
</plist>